/* .card {
    border: solid 1px rgb(121, 121, 121);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 12px;

    background-color: rgba(255, 255, 255, 0.095);
}

.card-desc {
    color: azure;
} */